/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

header {
  height: 4rem;
  position: fixed;
  z-index: 100;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: #FFFFFF;
}

header .content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

header .logo-desktop {
  flex: 1;
  padding-left: 1.5rem;
}

header .header-nav-mobile {
  display: none;
}

.logo-desktop {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  padding-right: 1.5rem;
}

header span {
  font-size: 2rem;
  vertical-align: center;
}

#one {
  color: #4A4A4A;
}

#two {
  color: #DEC975;
}

nav li {
  padding-left: 1rem;
}

nav a {
  vertical-align: center;
  line-height: 1.6;
  font-size: 1.3rem;
  color: #4A4A4A;
  transition: all 1S ease-in-out 50ms;
}

a:hover, a:focus {
  color: #fff;
  background-color: #4A4A4A;
  border-radius: 5px;
}

/* header -nav mobile media query begin */

@media only screen and (max-width: 450px) {
  header .header-nav-desktop {
    display: none;
  }
  header .logo-desktop {
    display: none;
  }

  header .header-nav-mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .header-nav-mobile ul {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
  }
  header .header-nav-mobile li {
    padding: 0;
  }
  a:hover, a:focus {
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 5px;
  }
}

/* header -nav mobile media query end */

/* header -nav tablet media query begin */

@media only screen and (max-width: 760px) {
  header .logo-desktop {
    display: none;
  }
  header .header-nav-desktop {
    display: none;
  }

  header .header-nav-mobile{
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }
  header .header-nav-mobile ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 0 1.5rem;
  }
  header .header-nav-mobile li {
    padding: 0;
  }
  a:hover, a:focus {
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 5px;
  }

}

/* header -nav tablet media query end */

h1 {
  font-size: 3.125rem;
  color: #4A4A4A;
  font-weight: bold;
}

h2 {
  font-size: 2.0rem;
  color: #FFFFFF;
}

h3 {
  font-size: 1.5rem;
  /* color: #DEC975; */
  color: #4A4A4A;
}

h4 {
  font-size: 1rem;
  /* color: #4A4A4A; */
  color: #4A4A4A;
}

h5 {
  font-size: 0.75rem;
  /* color: #4A4A4A; */
  color: #4A4A4A;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.45;
}

p {
  font-size: 1rem;
  line-height: 1.2;
  color: #4A4A4A;
}

.cursive {
  font-family: "Damion", cursive;
}

.striking {
  font-family: "Rubik", sans-serif;
  padding-bottom: .75rem;
}

.quote {
  font-family: "Palatino", serif;
  font-size: 1.25rem;
  line-height: 1.1;
  font-style: italic;
  color: #4A4A4A;
}

.quote-citation {
  height: 1.875rem;
  color: #4A4A4A;
}

button {
  /* border-radius: 4px; */
  color: #FFFFFF;
  background-color: #4A4A4A;
  margin-top: 1.625rem;
  padding: 0.5rem 0;
  text-align: center;
  font-size: 1rem;
  white-space: nowrap;
  border: none;
  width: 80%;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  background: linear-gradient(to bottom right, #8e9eab, #eef2f3);
  top: 4rem;
}

.main-content-desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  /* background-color: #ffe670; */
}

.main-content-mobile {
  display: none;
}

.bold {
  font-style: bold;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.top-margin {
  margin-top: 2rem;
}

.bottom-margin {
  margin-bottom: 2rem;
}

.small-bottom-margin {
  margin-bottom: 1rem;
}

.small-top-margin {
  margin-top: 1rem;
}

.left-margin {
  margin-left: 1.5rem;
}

.ext-left-padding {
  padding-left: 4.5rem;
}

.ext-right-padding {
  padding-right: 4.5rem;
}

.right-margin {
  margin-right: 1.5rem;
}

.banner {
  flex: 1 1;
  width: 60%;
  height: auto;
  margin: 2rem 1.5rem;
  overflow: hidden;
}

.banner img {
  /* background-image: url('../images/banner.jpg'); */
  max-width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  line-height: 1.4;
  width: 40%;
  /* height: 34rem; */
  height: auto;
  margin: 1rem 1.5rem 1rem 0;
}

.text-content h2 {
  padding-bottom: 1.5rem;
}

.text-content a{
  color: #FFFFFF;
}
/* content breakdown for button media query begin */

@media only screen and (max-width: 415px) {
  button {
    /*border-radius: 4px;*/
    background-color: #4A4A4A;
    color: #FFFFFF;
    text-align: center;
    width: 60%;
    white-space: nowrap;
    border: none;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    padding: 0.5rem 0;
  }
  .text-content a{
    color: #FFFFFF;
  }

}

/* content breakdown for button media query end */

/* mobile media query for banner section begin */

@media only screen and (max-width: 450px) {
  .main-content-desktop {
    display: none;
  }
  .main-content-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    /* background-color: #ffe670; */
  }
  .banner {
    width: 90%;
    height: auto;
    overflow: hidden;
    margin: 0 1rem;
  }
  .banner img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    overflow: hidden;
  }
  .text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 1.0;
    width: 100%;
    height: auto;
    margin: 2rem 1rem;
  }
  h1 {
    font-size: 2.25rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }
  h2 {
    font-size: 1.75rem;
    padding-bottom: 1.5rem;
  }
  button {
    /* border-radius: 4px; */
    background-color: #4A4A4a;
    color: #FFFFFF;
    margin-top: 1.625rem;
    padding: 0.5rem 0;
    text-align: center;
    font-size: 1rem;
    white-space: nowrap;
    border: none;
    width: 80%;
  }
  .text-content a{
    color: #FFFFFF;
  }
}

/* mobile media query for banner section end */

/* tablet media query for banner section begin */

@media only screen and (max-width: 760px) {
  .main-content-desktop {
    display: none;
  }
  .main-content-mobile {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    /*background-color: #ffe670;*/
  }
  .banner {
    width: 90%;
    height: auto;
    margin: 0;
    overflow: hidden;
  }
  .banner img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    overflow: hidden;
  }
  .text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 1.0;
    width: 85%;
    height: auto;
    margin: 2rem 1rem;
  }

  .text-content h1 {
    font-size: 2.25rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }

  .text-content h2 {
    font-size: 1.75rem;
    padding-bottom: 1.5rem;
  }

  button {
    /* border-radius: 4px; */
    background-color: #4A4A4a;
    color: #FFFFFF;
    margin-top: 1.625rem;
    padding: 0.5rem 0;
    text-align: center;
    font-size: 1rem;
    white-space: nowrap;
    border: none;
    width: 80%;
  }
  .text-content a{
    color: #FFFFFF;
  }

}

@media only screen and (max-width: 980px) {
  .text-content h1 {
    font-size: 1.70rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
}

/* mobile media query for banner section end */

.about {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /*  background-color: #fffae5;*/
  /*  border-bottom: solid 1px #c6c1c1; */
}

.background-img img{
  /*background-image: url('../images/information-main.jpg');*/
  /*height: 25rem;*/
  flex: 0 2;
  max-width: 90%;
  height: auto;
  object-fit: cover;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  overflow: hidden;
  /*border-bottom: solid 1px #000000;*/
}

.information-main {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
}

.practice-saying {
  width: 60%;
  height: auto;
}

.practice-saying h3 {
  margin-bottom: 1.5rem;
  color: #4A4A4A;
  font-weight: bold;
  transition: all 1S ease-in-out 50ms;
}

.practice-saying h5 {
  color: #4A4A4A;
  background: linear-gradient(to bottom right, #8e9eab, #eef2f3);
  /*text-shadow: 2px 2px 3px #4A4A4A;*/
}

.key-events {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  justify-content: space-between;
}

.key-events-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  object-fit: cover;
}

.information-mobile img{
  display: none;
}


.information-mobile{
  display: none;
}


#guest-lecture {
  background: linear-gradient(to bottom right, #8e9eab, #eef2f3);
  color: #fff;
}

.information-image-container {
  width: 35%;
  align-items: center;
}

.information-text {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  margin: 0.5rem 1.5rem;
}

.information-text h3 {
  color: #4A4A4A;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.information-text span {
  color: #4A4A4A;
  padding-bottom: 0.5rem;
}

span a {
  transition: all 1S ease-in-out 50ms;
}

.information-image-container img {
  flex: 0 1;
  max-width: 100%;
  height: auto;
  display: inline-block;
  object-fit: cover;
  /*padding: 1rem 1rem;*/
  overflow: hidden;
  padding: 0 1rem;
  /*border: solid 1px #c6c1c1;*/
}

@media only screen and (max-width: 450px) {
  .background-image {
    display: none;
  }
  .information-main {
    display: none;
  }

  .key-events {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
  }
  .information-image-container img {
    display: none;
  }

  .information-image-container{
    display: none;
  }

  .key-events-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    object-fit: cover;
    margin: 1rem 1rem 4rem 1rem;
  }

  .information-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    object-fit: contain;
    margin: 0 1rem;
  }

  .information-mobile img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    /*padding: 1rem 1rem;*/
    overflow: hidden;
    /*border: solid 1px #c6c1c1;*/
  }

  #guest-lecture-mobile {
    background: linear-gradient(to bottom right, #8e9eab, #eef2f3);
    color: #fff;
  }
  .information-text {
    width: 100%;
    display: flex;
    position: relative;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 2rem 1rem 0 1rem;
  }

  .information-text h3 {
    font-size: 1.75rem;
    margin-left: 1rem;
    font-weight: bold;
  }
  .information-text span{
    font-size: 1.25rem;
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 760px) {
  .background-image {
    display: none;
  }
  .information-main {
    display: none;
  }

  .key-events {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
  }

  .key-events-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    object-fit: cover;
    margin: 1rem 1rem 4rem 1rem;
  }


  .information-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    object-fit: contain;
    margin: 0 1rem 0 1rem;
  }
  .information-image-container img {
    display: none;
  }

  .information-image-container {
    display: none;
  }

  .information-mobile img {
    width: 100%;
    display: block;
    height: auto;
    object-fit: cover;
  /*  padding: 1rem 1rem;*/
    overflow: hidden;
    /*border: solid 1px #c6c1c1;*/
  }
  #guest-lecture-mobile {
    background: linear-gradient(to bottom right, #8e9eab, #eef2f3);
    color: #fff;
  }
  .information-text {
    width: 100%;
    display: flex;
    position: relative;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 2rem 1rem 0 1rem;
  }
  .information-text h3 {
    font-size: 1.75rem;
    margin-left: 1rem;
    font-weight: bold;
  }
  .information-text span{
    font-size: 1.25rem;
    margin-left: 1rem;
  }
}
/* content breakdown media query for key events information begin */
@media only screen and (min-width: 761px) and (max-width: 1135px){
  .information-image-container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    padding: 0 1rem;
    overflow: hidden;
    /*border: solid 1px #c6c1c1;*/
  }

  .information-text h3 {
    font-size: 1.0rem;
  }
  .information-text span{
    font-size: 0.75rem;
  }
}
/* content breakdown media query for key events information end */
.courses {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.courses h1{
  font-weight: bold;
}

.courses-mobile{
  display: none;
}

.courses-image-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  /*background-color: #fff0b2;*/
  overflow: hidden;
}

.courses-image-container img {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  object-fit: contain;
  overflow: hidden;
}

.image-text-container {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: auto;
  align-items: center;
  /*background-color: #71B280;*/
  /*background-color: #8FA880;*/
  /*background: linear-gradient(to bottom right, #485563, #29323C);*/
  /*background: linear-gradient(to bottom right, #141e30, #243b55);*/
  background: linear-gradient(to bottom right, #8e9eab, #eef2f3);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  border-bottom: solid 1px #c6c1c1;
}

.courses-information-text h3, h5 {
  text-align: left;
  color: #2B2B2B;
}

.courses-information-text h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #2B2B2B;
}

.courses-information-text h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.courses-information-text {
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}

.figcaption {
  position: relative;
  left: -20px;
  caption-side: bottom;
}

/* Media Query for mobile courses begin */
@media only screen and (max-width: 450px){

  .courses{
    display: none;
  }
  .courses-mobile {
    display: flex;
    position: relative;
    top: -6rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 1rem 2rem 1rem;
  }

   .courses h1{
     font-size: 2.5rem;
     font-weight: bold;
   }

  .courses-mobile button{
    padding: 1rem 1rem 1.5rem 1rem;
    /*background-color: #243b55;*/
    background: linear-gradient(to bottom right, #8e9eab, #eef2f3);
    text-align: left;
    white-space: nowrap;
    width: 90%;
    color: #2B2B2B;
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
  }
}

@media only screen and (max-width: 760px){

  .courses{
    display: none;
  }
  .courses-mobile {
    display: flex;
    position: relative;
    top: -6rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 1rem 2rem 1rem;
  }
  .courses h1{
    font-size: 2.5rem;
    font-weight: bold;
  }
  .courses-mobile button{
    padding: 1rem 1rem 1.5rem 1rem;
    /*background-color: #243b55;*/
    background: linear-gradient(to bottom right, #8e9eab, #eef2f3);
    text-align: left;
    white-space: nowrap;
    width: 90%;
    color: #2B2B2B;
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
  }

}

/* content breakdown media query for courses information text begin */
@media only screen and (min-width: 761px) and (max-width: 1190px){
  .courses-information-text h3, h5 {
    text-align: left;
  }

  .courses-information-text h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: #2B2B2B;
  }

  .courses-information-text h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.0rem;
    color: #2B2B2B;
  }

  h5 {
    font-size: 0.75rem;
    color: #2B2B2B;
  }

  .courses-information-text {
    margin-left: 1rem;
    margin-bottom: 1.5rem;
  }

  .figcaption {
    position: relative;
    left: -10px;
    caption-side: bottom;
  }



}

/* Media Query for mobile courses end */
.thesis-title h1{
  text-align: center;
}
.thesis {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.thesis h3{
  font-weight: bold;
}
.thesis-mobile{
  display: none;
}
.video-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  align-items: center;
}

video {
  max-width: 93.5%;
  height: auto;
  object-fit: contain;
  margin: 1rem 1.5rem 1.5rem 1.5rem;
  overflow: hidden;
}

.thesis-image-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  justify-content: space-between;
  align-items: flex-start;
}


.thesis-info {
 display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 1rem;
}



.thesis-image-text-container img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}

.thesis-information-text {
  margin: 0.5rem 0.5rem;
  width: 65%;
  height: auto;
}

.thesis-information-text h3, h4 {
  color: #4A4A4A;
}


#reimagine-urban {
  padding-bottom: 0.5rem;
  color: #4A4A4A;
}

/* Media Query for mobile thesis begin */
@media only screen and (max-width: 450px){

  .thesis{
    display: none;
  }

.thesis-title {
  position: relative;
  top: -8rem;
}
  .thesis-mobile {
    display: flex;
    position: relative;
    top: -8rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  video {
    max-width: 93.5%;
    height: auto;
    object-fit: contain;
    margin: 0 0 1.5rem 0;
    overflow: hidden;
  }


}

@media only screen and (max-width: 760px){

  .thesis{
    display: none;
  }

  .thesis-title {
    position: relative;
    top: -8rem;
  }

  .thesis-mobile {
    display: flex;
    position: relative;
    top: -8rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  video {
    max-width: 93.5%;
    height: auto;
    object-fit: contain;
    margin: 0 0 1.5rem 0;
    overflow: hidden;
  }

}
/* Media Query for mobile thesis end */
/* Media query for thesis video content breakdown begin */
@media only screen and (min-width: 761px) and (max-width: 1047px){

  video {
    max-width: 93.5%;
    height: auto;
    object-fit: cover;
    margin: 1rem 1.5rem 1.5rem 1.5rem;
    overflow: hidden;
  }

  .thesis-image-text-container img {
    max-width: 85%;
    height: auto;
    object-fit: contain;
    overflow: hidden;
  }

.thesis-information-text h3 {
  font-size: 1.0rem;
}

.thesis-information-text h4{
  font-size: 0.75rem;
}

}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer nav ul {
  display: flex;
  margin: 1rem 1.5rem;
  font-size: 1rem;
}

/* Media Query for mobile footer begin */
@media only screen and (max-width: 450px){

  footer {
    display: flex;
    position: relative;
    top: -8rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .bottom-margin{
    margin-bottom: 1rem;
  }

  footer nav{
    display: none;
  }
}

@media only screen and (max-width: 760px){

  footer {
    display: flex;
    position: relative;
    top: -8rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
.bottom-margin{
  margin-bottom: 1rem;
}
  footer nav{
    display: none;
  }

}
/* Media Query for mobile footer end */
